@import '../utils/variables.scss';

.advantages {
  padding-top: 60px;

  &__list {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
  }

  &__title {
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.03em;
    line-height: 1.14;
    padding-bottom: 10px;
    text-align: center;
  }

  &__desc {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: $light-gray;
  }

  &__icon-background {
    background-color: $team-background-color;
    padding: 25px 100px;
    margin-bottom: 30px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (min-width: 768px) {
  .advantages {
    padding-bottom: 45px;

    &__list {
      display: flex;
      justify-content: center;
      gap: 30px;
      flex-wrap: wrap;
    }

    &__element {
      flex-basis: 354px;
    }

    &__title {
      text-align: left;
    }
  }
}

@media screen and (min-width: 1200px) {
  .advantages {
    padding: 94px 0;

    &__list {
      flex-wrap: nowrap;
    }
  }
}
