@import '../utils/variables.scss';

/* OUR CUSTOMERS */
.customers {
  text-align: center;

  &__list {
    display: flex;
    justify-content: space-between;
  }

  &__icon-container {
    display: block;
    padding: 16px 32px;
    border: 1px solid $icon-border;
    border-radius: 4px;
    transition-property: border-color, fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__icon {
    fill: $icon-border;
    transition-property: border-color, fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__icon-container:hover,
  &__icon-container:hover &__icon,
  &__icon-container:focus,
  &__icon-container:focus &__icon {
    border-color: $main-blue;
    fill: $main-blue;
  }
}
