@import '../utils/variables.scss';

/* SOCIAL MEDIA ICONS */

.social-icon {
  display: block;
  padding: 12px;
  font-size: 0;
  border-radius: 50%;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &_icon {
    fill: $icon-border;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  &:hover,
  &:focus {
    background-color: $main-blue;
    border-radius: 50%;
  }

  &__footer-icon-color {
    fill: $main-white;
  }

  &--footer {
    background-color: $dimmed-white-dark;
    border-radius: 50%;
  }
}

.social-icon_icon {
  .social-icon:hover &,
  .social-icon:focus & {
    fill: $main-white;
  }
}
