@import '../utils/variables.scss';

.title {
  color: $main-white;
  text-align: center;
  background-color: $dark-gray-background-color;
  background-image: linear-gradient(to bottom, $photo-gradient, $photo-gradient),
    url(../images/title_background_mobile@1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  &__container {
    padding: 58px 0;
  }

  &__text {
    text-transform: uppercase;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.61;
    letter-spacing: 0.06em;
    max-width: 365px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .title {
    background-image: linear-gradient(to bottom, $photo-gradient, $photo-gradient),
      url(../images/Header_tablet.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .title {
    background-image: linear-gradient(to bottom, $photo-gradient, $photo-gradient),
      url(../images/title_photo.jpg);

    background-size: 1600px;

    &__container {
      padding: 106px 0;
    }

    &__text {
      font-size: 44px;
      line-height: 1.36;
      max-width: 696px;
    }
  }
}
