// * {
//   border: 1px dashed red;
// }

body {
  font-family: 'Roboto', sans-serif;
  color: $dark;
  // min-width: fit-content;
}

h1,
h2,
h3,
h4,
ul,
p {
  margin: 0;
  padding: 0;
}

.section {
  padding: 60px 0;
}

.container {
  max-width: 480px;
  padding: 0 15px;
  margin: 0 auto;
}

.header-border {
  border-bottom: 1px solid $header-border;
}

/* lists without styles */
.list {
  list-style-type: none;
}

/* TITLE PAGE HEADERS */
.heading {
  font-size: 28px;
  letter-spacing: 0.03em;
  line-height: 1.17;
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .section {
    padding: 94px 0;
  }

  .container {
    max-width: 1200px;
    margin: 0 auto;
  }

  /* TITLE PAGE HEADERS */
  .heading {
    font-size: 36px;
    letter-spacing: 0.03em;
    line-height: 1.17;
    margin-bottom: 50px;
  }
}
