$main-blue: #2196f3;
$main-blue-opacity: #2196f3e6;
$main-black: #000;
$dark: #212121;
$main-white: #fff;
$dimmed-white-dark: #ffffff1a;
$light-gray: #757575;
$dimmed-white: #ffffff60;
$team-background-color: #f5f4fa;
$dark-gray-background-color: #2f303a;
$header-border: #ececec;
$dark-white: #eeeeee;
$icon-border: #afb1b8;
$photo-gradient: rgba(47, 48, 58, 0.4);
$image-desc: rgba(47, 48, 58, 0.8);
$modal-background: rgba(0, 0, 0, 0.2);
$modal-button: rgba(0, 0, 0, 0.1);
$footer-email-border: rgba(255, 255, 255, 0.3);
$form-border: rgba(33, 33, 33, 0.2);
$shadow-button: rgba(0, 0, 0, 0.15);
$grey-opacity: rgba(117, 117, 117, 0.5);
